/* made by lucaz37 plz credit me when using */

body {
    font-family: "Droid Sans", sans-serif;
    color: #000; /* Default text color */
    padding: 6px;
}

header {
    background-color: #505050;
    height: 23px;
    border-bottom: 1px solid #484C48;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 3px 7px;
    position: relative;
}

header::after {
    content: '';
    display: block;
    height: 7px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 25%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
}

button {
    background: linear-gradient(to bottom, #f7f7f7 0%, #cccccc 84%, #dbdbdb 100%);
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 4px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
}

button:active {
    background: linear-gradient(to bottom, #ffeecc 0%, #dab15f 84%, #ecc371 100%);
    box-shadow: 0 0 2.5px 1px #d99100;
}

input[type="text"] {
    background: linear-gradient(to bottom, #d8d8d8 0%, #f8fcf8 10%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 20px;
    border: 1px solid #b0b8b0;
    border-radius: 4px;
    color: #000;
    font-size: 11px;
    padding: 6px;
    box-sizing: border-box;
}

textarea {
    background: linear-gradient(to bottom, #d8d8d8 0%, #f8fcf8 10%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 20px;
    border: 1px solid #b0b8b0;
    border-radius: 4px;
    color: #000;
    font-size: 11px;
    padding: 6px;
    box-sizing: border-box;
    resize: both;
    min-width: 150px;
    min-height: 50px;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #000;
    box-shadow: 0 0 2.5px 1px #d99100;
}

input[type="checkbox"] {
    width: 13px;
    height: 13px;
    appearance: none;
    background: linear-gradient(to bottom, #f7f7f7 0%, #cccccc 84%, #dbdbdb 100%);
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background: linear-gradient(to bottom, #f7f7f7 0%, #cccccc 84%, #dbdbdb 100%);
    border-color: #000000;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
    height: 13px;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 13"><path d="M0 7.5L2 6L5 9L13 0L14 1L5 13L0 7.5Z" fill="black"/></svg>') no-repeat center center;
    background-size: contain;
}

li {
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
}

li.selected {
    background: linear-gradient(to bottom, #f8fcf8 0%, #dbb260 85%, #e3ba68 100%);
    border: 1px solid #d8ac00;
}

li + li {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}
